<div class="container main-container">
  <div class="row">     
    <div class="col-md-12">
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle coin-dropdown" data-toggle="dropdown">
          <span class="coin-name" ng-bind="main.coinName != '' ? main.coinName : 'Select Coin'"></span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu scrollable-menu" role="menu">
          <li ng-repeat="coin in main.coinsList | orderBy:coin"><a ng-bind="::coin" ng-click="main.getCoinInfo(coin)"></a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-12 coin-info" ng-if="!main.coinIsLoading">
      <table class="table table-striped">
        <tbody>
          <tr ng-repeat="(name, value) in main.coinInfo">
            <th scope="row" ng-bind="name"></th>
            <td ng-bind="value | onlyNumberDevide:3"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="spinner-block" ng-if="main.coinIsLoading">
      <img src="assets/images/spinner.gif" alt="">
    </div>
  </div>
</div>